/* 
filename: styles.css 
author: Tate Newman 
created: 31-3-2025
last modified: 31-3-2025
description: this style sheet refers to all pages within site, including: index.html, jobs.html, apply.html & about.html
*/
* {
    font-family:Arial, Helvetica, sans-serif
    
} /* can use monospace font family (lucida console) for headings */

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}