/* 
filename: styles.css 
author: Tate Newman, Kyle Perry 
created: 31-3-2025
last modified: 6-4-2025
description: this style sheet refers to all pages within site, including: index.html, jobs.html, apply.html & about.html
References: 
- W3 Schools CSS Nav Bar - https://www.w3schools.com/css/css_navbar_horizontal.asp
- lab05 footer styling 
- footer styling used Gen AI, using the prompt: "with the flexbox method how can I ensure the "Our Plans" element is centred" 
*/

/*specifies the default font for the entire site*/
* {
    font-family:Arial, Helvetica, sans-serif
} 
/*adjusts font size for heading elements */
h1 {font-family: monospace, Lucida Console}
/* basic styling for nav bar */
#logo.container {position: relative;}
#nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: navy;
}
/* nav link styles: hover, active, static & emoji pseudo elements */
#nav li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: gainsboro;
    font-weight: bold;
}
#nav li {
    float:left
}
#nav li.mail {
    float: right;
}
#nav li a:hover {
    background-color:dodgerblue;
}
#nav li a.active {
    background-color: black;
}
#nav li a[href*="index"]::before {
    content: "🏠\00a0";
}
#nav li a[href*="about"]::before {
    content: "👤\00a0";
}
#nav li a[href*="apply"]::before {
    content: "💼\00a0";
}
#nav li a[href*="jobs"]::before {
    content: "📩\00a0";
}
#Logo {
    position: absolute;
    top: 0.5em;
    right: 0.5;
    height: 2.5em;
    width: auto;
    padding: 10px;
    border-radius: 8%;
}
/*styling for the footer using flexboc method for response design */
footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding:1em;
    border-top: 4px double darkslategray;
    margin-top: 60px; /* space between footer and content above */
    position: relative;
    background-color: lightgray;
}
footer p {
    margin: 0;
    flex: 1; /* allows the text to grow and shrink equally */
    text-align: center;
}
#SwinburneCopy {
    text-align: left; /* overrides center alignment in footer p hence the text-align */
}
#JKTNCopy {
    text-align: right;
}
footer a{
    text-decoration: none;
    color: black;
}
